<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shu.java.csky.dao.CommentMapper">
    <resultMap id="CommentVoMap" type="shu.java.csky.vo.CommentVo">
        <id property="id" column="comment_id1" jdbcType="VARCHAR"/>
        <result property="userId" column="comment_user_id1" jdbcType="VARCHAR"/>
        <result property="userName" column="comment_user_name1" jdbcType="VARCHAR"/>
        <result property="articleId" column="comment_article_id1" jdbcType="VARCHAR"/>
        <result property="articleTitle" column="comment_article_title1" jdbcType="VARCHAR"/>
        <result property="parentCommentId" column="comment_parent_comment_id1" jdbcType="VARCHAR"/>
        <result property="parentCommentUserId" column="comment_parent_comment_user_id1" jdbcType="VARCHAR"/>
        <result property="replyCommentId" column="comment_reply_comment_id1" jdbcType="VARCHAR"/>
        <result property="replyCommentUserId" column="comment_reply_comment_user_id1" jdbcType="VARCHAR"/>
        <result property="commentLevel" column="comment_level1" jdbcType="TINYINT"/>
        <result property="content" column="comment_content1" jdbcType="VARCHAR"/>
        <result property="status" column="comment_status1" jdbcType="TINYINT"/>
        <result property="praiseNum" column="comment_praise_num1" jdbcType="INTEGER"/>
        <result property="topStatus" column="comment_top_status1" jdbcType="TINYINT"/>
        <result property="createTime" column="comment_create_time1" jdbcType="TIMESTAMP"/>
        <collection property="commentVos" ofType="shu.java.csky.vo.CommentVo">
            <id property="id" column="comment_id2" jdbcType="VARCHAR"/>
            <result property="userId" column="comment_user_id2" jdbcType="VARCHAR"/>
            <result property="userName" column="comment_user_name2" jdbcType="VARCHAR"/>
            <result property="articleId" column="comment_article_id2" jdbcType="VARCHAR"/>
            <result property="articleTitle" column="comment_article_title2" jdbcType="VARCHAR"/>
            <result property="parentCommentId" column="comment_parent_comment_id2" jdbcType="VARCHAR"/>
            <result property="parentCommentUserId" column="comment_parent_comment_user_id2" jdbcType="VARCHAR"/>
            <result property="commentLevel" column="comment_level2" jdbcType="TINYINT"/>
            <result property="replyCommentId" column="comment_reply_comment_id2" jdbcType="VARCHAR"/>
            <result property="replyCommentUserId" column="comment_reply_comment_user_id2" jdbcType="VARCHAR"/>
            <result property="content" column="comment_content2" jdbcType="VARCHAR"/>
            <result property="status" column="comment_status2" jdbcType="TINYINT"/>
            <result property="praiseNum" column="comment_praise_num2" jdbcType="INTEGER"/>
            <result property="topStatus" column="comment_top_status2" jdbcType="TINYINT"/>
            <result property="createTime" column="comment_create_time2" jdbcType="TIMESTAMP"/>
        </collection>
    </resultMap>


    <sql id="Base_Column_List">
        id,user_id,user_name,
        article_id,article_title,parent_comment_id,
        parent_comment_user_id,reply_comment_id,reply_comment_user_id,
        comment_level,content,status,
        praise_num,top_status,create_time
    </sql>

    <select id="getAllByArticleId" resultMap="CommentVoMap" parameterType="string">
        select c1.id                     'comment_id1',
               c1.user_id                'comment_user_id1',
               c1.user_name              'comment_user_name1',
               c1.article_id             'comment_article_id1',
               c1.article_title          'comment_article_title1',
               c1.parent_comment_id      'comment_parent_comment_id1',
               c1.parent_comment_user_id 'comment_parent_comment_user_id1',
               c1.reply_comment_id       'comment_reply_comment_id1',
               c1.reply_comment_user_id  'comment_reply_comment_user_id1',
               c1.comment_level          'comment_level1',
               c1.content                'comment_content1',
               c1.status                 'comment_status1',
               c1.praise_num             'comment_praise_num1',
               c1.top_status             'comment_top_status1',
               c1.create_time            'comment_create_time1',
               c2.id                     'comment_id2',
               c2.user_id                'comment_user_id2',
               c2.user_name              'comment_user_name2',
               c2.article_id             'comment_article_id2',
               c2.article_title          'comment_article_title2',
               c2.parent_comment_id      'comment_parent_comment_id2',
               c2.parent_comment_user_id 'comment_parent_comment_user_id2',
               c1.reply_comment_id       'comment_reply_comment_id2',
               c1.reply_comment_user_id  'comment_reply_comment_user_id2',
               c2.comment_level          'comment_level2',
               c2.content                'comment_content2',
               c2.status                 'comment_status2',
               c2.praise_num             'comment_praise_num2',
               c2.top_status             'comment_top_status2',
               c2.create_time            'comment_create_time2'
        from comment c1
                 inner join comment c2 on c1.id = c2.parent_comment_id
        where c1.article_id = #{articleId}
          and c1.comment_level = 1
    </select>


</mapper>
