<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shu.java.csky.dao.TeachersMapper">

    <resultMap id="BaseResultMap" type="shu.java.csky.entity.Teachers">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="tid" column="tid" jdbcType="INTEGER"/>
            <result property="tname" column="tname" jdbcType="VARCHAR"/>
            <result property="turl" column="tURL" jdbcType="VARCHAR"/>
            <result property="temail" column="temail" jdbcType="VARCHAR"/>
            <result property="studydir" column="studydir" jdbcType="VARCHAR"/>
            <result property="eduresume" column="eduresume" jdbcType="VARCHAR"/>
            <result property="proresume" column="proresume" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tid,tname,
        tURL,temail,studydir,
        eduresume,proresume
    </sql>
</mapper>
